body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #e2f1e7;
}

.menu {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  background: #387478;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  list-style-type: none;
  text-decoration: none;
}

.list-item {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e9ecef;
}

.list-item:last-child {
  border-bottom: none;
}

.clickable {
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickable::after {
  content: "▼";
  font-size: 0.75rem;
  color: #131518;
  transition: transform 0.2s;
}

.clickable:hover {
  color: #243642;
}

.submenu {
  list-style-type: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.submenu li {
  margin: 0.5rem 0;
}

.submenu a {
  display: block;
  color: #e2f1e7;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.submenu a:hover {
  text-decoration: underline;
}

a {
  color: #e2f1e7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #e2f1e7;
}
